{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-unused-labels": "warn",
    "no-unused-vars": "warn",
    "no-console": "warn",
    "semi": "warn",
    "eqeqeq": "warn",
    "indent": ["warn", 2, { "SwitchCase": 1 }],
    "linebreak-style": ["warn", "unix"],
    "no-trailing-spaces": "warn",
    "eol-last": "warn",
    "no-else-return": "warn",
    "no-with": "warn",
    "quotes": [1, "single"],
    "space-infix-ops": "warn",
    "space-unary-ops": "warn",
    "space-before-blocks": "warn",
    "space-in-parens": ["warn", "never"],
    "no-var": "error",
    "array-bracket-spacing": ["warn", "never"],
    "object-curly-spacing": ["warn", "never"],
    "max-len": ["warn", 120, 2, {"ignoreUrls": true, "ignorePattern": "\\/\\^"}]
  }
}
